* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .chatMessage {
    white-space: pre-wrap; /* This preserves whitespace and line breaks */
  }

  .whiteText {
    color: white; /* Change font color to white */
  }
  
  .whiteText label {
    color: white; /* Change label color to white */
  }

  @media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    h1 {
      font-size: 24px; /* Example adjustment */
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }